In [321]:
pip install pytesseract

Requirement already satisfied: pytesseract in c:\users\yuexili\anaconda3\lib\site-packages (0.3.9)
Requirement already satisfied: Pillow>=8.0.0 in c:\users\yuexili\anaconda3\lib\site-packages (from pytesseract) (9.0.1)
Requirement already satisfied: packaging>=21.3 in c:\users\yuexili\anaconda3\lib\site-packages (from pytesseract) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\yuexili\anaconda3\lib\site-packages (from packaging>=21.3->pytesseract) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [322]:
from PIL import Image
from pytesseract import pytesseract

In [323]:
path_to_tesseract = r'C:\Users\yuexili\AppData\Local\Tesseract-OCR\tesseract.exe'
path_to_image = 'Downloads/Sample-Swift.png'
pytesseract.tesseract_cmd = path_to_tesseract
img = Image.open(path_to_image)
text = pytesseract.image_to_string(img)
print(text)

--------------------------- Message Header -------------------------

Swift Input : FIN 103 Single Customer Credt Transfer
Sender : INDBINBBGRD

INDUSIND BANK LIMITED

(PNA HOUSE)

MUMBAI IN

Receiver : ROYCCAT2XXX
ROYAL BANK OF CANADA
(HEAD OFFICE)
TORONTO CA
MUR : M123456
UETR : 812d0e34-e56c-7£b8-1234-3bf1a23456ef
aaa Message Text ---------------------------

20: Sender's Reference

AD1TT23456789012
23B: Bank Operation Code
CRED
32A: Val Dte/Curr/Interbnk Settld Amt
Date : 29 May 2019
Currency : CAD (CANADIAN DOLLAR)
Amount : #16530,00#
50K: Ordering Customer-Name & Address
/ANWPK1234B
JOHN DOE

HOUSE NO.123 STREET NO.5 TIBBA SAHI
B HOSHIARPUR PIN-123456 PUNJABINDIA
52D: Ordering Institution-Name & Addr
/123456789012
FOREX LIMITED
2ND FLOOR, KITAB MAHAL, 2ND FLOOR,
KITAB MAHAL, ,192, DR. DN ROAD, FOR
53A: Sender's Correspondent - FI BIC
/01234-123-555-0
INDBINBBXXX
INDUSIND BANK LIMITED
MUMBAI IN
57A: Account With Institution - FI BIC
//20012
CITICATTBCH
CITIBANK CANADA
(CITIBANK NA CANADIAN BRANCH)
TORONTO CA
59: Beneficiary Customer-Name & Addr
/2012345678
FLYWIRE PAYMENTS CORPORATION
141 TREMONT STREET 10TH FLOOR BOSTO
N MA 02111(USA)

OVERSEAS EDUCATION

71A: Details of Charges
SHA

72: Sender to Receiver Information
/BNE/
//PP 1234567 DOB 22 11 1994 ID 000
//451234 SIA123456789 ANWPK1234B FA
//THER PAN

In [324]:
import pandas as pd
import numpy as np
from io import StringIO

In [325]:
data = StringIO(text)

In [326]:
df = pd.DataFrame(data)

In [327]:
df

                                                    0
0   --------------------------- Message Header ---...
1                                                  \n
2   Swift Input : FIN 103 Single Customer Credt Tr...
3                              Sender : INDBINBBGRD\n
4                                                  \n
..                                                ...
61               72: Sender to Receiver Information\n
62                                            /BNE/\n
63               //PP 1234567 DOB 22 11 1994 ID 000\n
64              //451234 SIA123456789 ANWPK1234B FA\n
65                                       //THER PAN\n

[66 rows x 1 columns]

In [328]:
df.columns = ['Text']

In [329]:
df

                                                 Text
0   --------------------------- Message Header ---...
1                                                  \n
2   Swift Input : FIN 103 Single Customer Credt Tr...
3                              Sender : INDBINBBGRD\n
4                                                  \n
..                                                ...
61               72: Sender to Receiver Information\n
62                                            /BNE/\n
63               //PP 1234567 DOB 22 11 1994 ID 000\n
64              //451234 SIA123456789 ANWPK1234B FA\n
65                                       //THER PAN\n

[66 rows x 1 columns]

In [331]:
df2 = df['Text'].str.split(': ', expand=True)
df2

,0,1
0,--------------------------- Message Header ---...,None
1,\n,None
2,Swift Input,FIN 103 Single Customer Credt Transfer\n
3,Sender,INDBINBBGRD\n
4,\n,None
...,...,...
61,72,Sender to Receiver Information\n
62,/BNE/\n,None
63,//PP 1234567 DOB 22 11 1994 ID 000\n,None
64,//451234 SIA123456789 ANWPK1234B FA\n,None
65,//THER PAN\n,None

In [332]:
df3 = df2.columns = ['Header','Content']
df3 = df2.set_index('Header')

In [333]:
df3

                                                                                     Content
Header
--------------------------- Message Header ----...                                      None
\n                                                                                      None
Swift Input                                         FIN 103 Single Customer Credt Transfer\n
Sender                                                                         INDBINBBGRD\n
\n                                                                                      None
...                                                                                      ...
72                                                          Sender to Receiver Information\n
/BNE/\n                                                                                 None
//PP 1234567 DOB 22 11 1994 ID 000\n                                                    None
//451234 SIA123456789 ANWPK1234B FA\n                                                   None
//THER PAN\n                                                                            None

[66 rows x 1 columns]

In [334]:
df3_transposed = df3.T
df3_transposed

Header,--------------------------- Message Header -------------------------\n,\n,Swift Input,Sender,\n,INDUSIND BANK LIMITED\n,\n,(PNA HOUSE)\n,\n,MUMBAI IN\n,...,OVERSEAS EDUCATION\n,\n,71A,SHA\n,\n,72,/BNE/\n,//PP 1234567 DOB 22 11 1994 ID 000\n,//451234 SIA123456789 ANWPK1234B FA\n,//THER PAN\n
Content,None,None,FIN 103 Single Customer Credt Transfer\n,INDBINBBGRD\n,None,None,None,None,None,None,...,None,None,Details of Charges\n,None,None,Sender to Receiver Information\n,None,None,None,None